:root {
  --veryDarkDesaturatedBlue: hsl(238, 29%, 16%);
  --softRed: hsl(14, 88%, 65%);
  --softViolet: hsl(273, 75%, 66%);
  --softBlue: hsl(240, 73%, 65%);
  --veryDarkGrayishBlue: hsl(237, 12%, 33%);
  --darkGrayishBlue: hsl(240, 6%, 50%);
  --lightGrayishBlue: hsl(240, 5%, 91%);
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  background: linear-gradient(0deg, var(--softBlue) 0%, var(--softViolet) 100%);
  color: var(--darkGrayishBlue);
  font-size: 12px;
}

main {
  background: #fff;
  /* max-width: 80%; */
  margin: 9rem 1.5rem 5rem 1.5rem;
  /* margin: 9rem auto 5rem auto; */
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

h1 {
  color: var(--veryDarkDesaturatedBlue);
  font-size: 2rem;
}

h3 {
  font-weight: 400;
}

h3.active {
  font-weight: 700;
  color: var(--veryDarkDesaturatedBlue);
}

.illustration__mobile {
  margin-top: -7rem;
}

.shadow__mobile {
  margin-top: -5rem;
}

.illustration__desktop {
  display: none;
}

.shadow__desktop {
  display: none;
}

.box__desktop {
  display: none;
}

.faq {
  text-align: center;
  margin-bottom: 3rem;
  width: 90%;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.arrow {
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.arrow.rotate {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

hr {
  border: none;
  height: 1px;
  background: var(--lightGrayishBlue);
}

p {
  text-align: left;
  margin: 0 2rem 1.5rem 0;
}

.hidden {
  display: none;
}

footer {
  text-align: center;
  margin-bottom: 0;
  color: var(--veryDarkDesaturatedBlue);
}

a {
  color: var(--veryDarkDesaturatedBlue);
}

@media screen and (min-width: 1260px) {
  main {
    width: 1000px;
    margin: 10rem auto 5rem;
    flex-direction: row;
    justify-content: space-around;
  }
  .faq {
    text-align: left;
    flex: 1;
    margin: 3rem 5rem 0;
    padding-bottom: 5rem;
  }
  .images {
    flex: 1;
    height: inherit;
    position: relative;
    top: 0;
    left: 0;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: 190%;
    background-position: -500px -320px;
  }
  /* .illustration__desktop {
    display: inline;
    object-position: -80px;
  }

  .box__desktop {
    display: inline;
    position: absolute;
    top: 370px;
    left: 110px;
    z-index: 3;
  } */
  .illustration__desktop {
    display: inline;
    position: relative;
    object-position: -80px;
  }

  .box__desktop {
    display: inline;
    position: absolute;
    top: 140px;
    left: -100px;
  }
  
  .illustration__mobile {
    display: none;
  }

  .shadow__mobile {
    display: none;
  }

}
